
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import '~vuetify/dist/vuetify.min';

.application .theme--light.v-list .v-list__group__header:hover, .application .theme--light.v-list .v-list__tile--highlighted, .application .theme--light.v-list .v-list__tile--link:hover, .theme--light .v-list .v-list__group__header:hover, .theme--light .v-list .v-list__tile--highlighted, .theme--light .v-list .v-list__tile--link:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: 0.2s linear;
}

ul{
  list-style-type: none;
  padding: 0;
}

html{
  overflow: hidden;
}
.v-bottom-nav{
  z-index: 99999;
}

h1{
  text-align: left;
}
h3{
  text-align: left;
}
div{
  text-align: center;
}
.v-navigation-drawer > .v-list .v-list__tile {
  height: 64px!important;
}

